<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Shop</title>
</head>
<body>
    <h1>Add a Shop</h1>

    <form action="/added-shop" method="POST">
    <p>
    <label for="newname">Shop Name:</label>
    <input type="text" name="newname">
    </p>
    <label for="newrating">Shop Rating:</label>
    <input type="number" name="newrating" step=".1" min="0" max="5">
    </p>
    <input type="submit">
    </form>
    
</body>
</html>