<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shops</title>
</head>
<body>
    
<h1>Shops</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
  </tr>
  <tr>
    {{#each shops}}
    <td><a href="http://localhost:3000/shop-detail/{{id}}">{{name}}</a></td>
  </tr>
  <tr>
    <td>{{rating}}</td>
        {{/each}}
  </tr>
</table>

</body>
</html>